src/main/generated
/build/
!/build/libs/ticketing-0.0.1-SNAPSHOT.jar

# DB Docker 디렉토리 제외
/docker
/docker/db/
/docker/redis/
/mysql/
/init_scripts/

# 중요한 정보 제외
.env
.env.prod
/temp/

# node_modules 제외
/node_modules

# Gradle 빌드 파일 제외
/.gradle

# IntelliJ IDEA 프로젝트 파일 제외
/.idea/

# Eclipse 프로젝트 파일 제외
/.project
/.classpath
/.settings/

# macOS 시스템 파일 제외
/.DS_Store

# 로그 및 임시 파일 제외
*.log
*.tmp

# 다른 OS 시스템 파일 제외
/Thumbs.db

# Docker 관련 파일 포함
!/dev-compose.yml
!/Dockerfile

# src 디렉토리 포함
!/src/**

# 기타 필요한 파일 포함
!/settings.gradle
!/build.gradle
!/gradlew
!/gradlew.bat
