# /db/conf.d/my.cnf

[client]
default-character-set = utf8mb4 # 클라이언트의 기본 문자 집합을 utf8mb4로 설정합니다. 이는 이모지와 같은 4바이트 문자를 지원하여 다양한 언어와 기호를 처리할 수 있습니다.

[mysql]
default-character-set = utf8mb4 # mysql 커맨드 라인의 기본 문자 집합을 utf8mb4로 설정합니다. 이는 이모지와 같은 4바이트 문자를 지원하여 다양한 언어와 기호를 처리할 수 있습니다.

[mysqld]
pid-file                        = /var/lib/mysql/mysqld.pid # MySQL 서버 프로세스 ID를 저장하는 파일의 경로를 설정합니다. 이는 서버가 실행 중인지 확인하고 제어하는 데 사용됩니다.
socket                          = /var/run/mysqld/mysqld.sock # MySQL 서버의 소켓 파일 경로를 설정합니다. 이는 MySQL 클라이언트가 서버에 연결하는 데 사용됩니다.
datadir                         = /var/lib/mysql # MySQL 데이터베이스 파일이 저장되는 디렉토리 경로를 설정합니다. 모든 데이터베이스 파일과 로그 파일이 이 위치에 저장됩니다.
#log-error                      = /var/log/mysql/error.log # MySQL 서버의 에러 로그 파일 경로를 설정합니다. 서버에서 발생하는 오류 및 경고가 이 파일에 기록됩니다.
authentication_policy           = mysql_native_password
default-time-zone               = '+09:00'

bind-address = 0.0.0.0 # MySQL 서버가 모든 네트워크 인터페이스에서 연결을 수락하도록 설정합니다. 이를 통해 서버가 외부 네트워크에서 접근 가능하게 됩니다.

max_allowed_packet              = 1G # MySQL 서버가 허용하는 최대 패킷 크기를 1GB로 설정합니다. 이는 서버가 처리할 수 있는 최대 단일 쿼리 크기를 정의합니다.
max_connect_errors              = 1000000 # 최대 허용 연결 오류 횟수를 1,000,000으로 설정합니다. 이 값에 도달하면 해당 호스트의 연결이 차단됩니다. 이는 무차별 대입 공격을 방지하는 데 도움이 됩니다.

# InnoDB 설정
default_storage_engine          = InnoDB # 기본 저장 엔진을 InnoDB로 설정합니다. InnoDB는 트랜잭션을 지원하고 데이터 무결성을 보장합니다.
innodb_buffer_pool_instances    = 2     # InnoDB 버퍼 풀 인스턴스를 2개로 설정합니다. 버퍼 풀 크기가 1GB 이상일 때 인스턴스 수를 늘려 성능을 향상시킬 수 있습니다.
innodb_buffer_pool_size         = 1G    # InnoDB 버퍼 풀 크기를 1GB로 설정합니다. 이는 메모리 내 데이터 및 인덱스를 캐싱하여 디스크 I/O를 최소화합니다. 일반적으로 전체 RAM의 70-80%까지 사용할 수 있습니다.
innodb_file_per_table           = 1     # 각 테이블에 독립적인 테이블 스페이스 파일을 사용하도록 설정합니다. 이는 데이터 관리를 용이하게 하고 성능을 향상시킵니다.
innodb_flush_log_at_trx_commit  = 0     # 트랜잭션 커밋 시 로그를 디스크에 플러시하지 않도록 설정하여 성능을 향상시킵니다. 이 설정은 데이터 손실 위험을 증가시킬 수 있으므로 개발 환경에서 주로 사용됩니다.
innodb_flush_method             = O_DIRECT # 직접 I/O를 사용하여 디스크에 데이터를 기록합니다. 이는 버퍼 캐시를 우회하여 디스크 I/O 성능을 향상시킵니다.
innodb_log_buffer_size          = 16M   # InnoDB 로그 버퍼 크기를 16MB로 설정합니다. 이는 트랜잭션 로그가 디스크에 기록되기 전에 메모리에 저장되는 크기를 정의합니다.
innodb_redo_log_capacity        = 512MB # InnoDB Redo 로그 용량을 512MB로 설정합니다. 이는 재시작 시 복구 시간을 단축하고 성능을 향상시킵니다.
innodb_stats_on_metadata        = 0     # 메타데이터 액세스 시 InnoDB 통계를 업데이트하지 않도록 설정합니다. 이는 SHOW TABLE STATUS 같은 명령의 성능을 향상시킵니다.
#innodb_temp_data_file_path     = ibtmp1:64M:autoextend:max:20G # 임시 데이터 파일의 경로 및 최대 크기를 설정합니다. 이는 대용량 임시 테이블을 처리할 때 유용합니다.
#innodb_thread_concurrency      = 4     # 선택 사항: 시스템의 CPU 수(1 또는 2개 감소)로 설정하여 CPU 사용량을 제어합니다. 예: 시스템에 8개의 CPU가 있으면 6 또는 7로 설정하고 MySQL/MariaDB가 생성하는 전체 부하를 확인합니다.
innodb_read_io_threads          = 64    # InnoDB 읽기 I/O 스레드 수를 64개로 설정합니다. 이는 동시 읽기 작업을 더 잘 처리할 수 있도록 도와줍니다.
innodb_write_io_threads         = 64    # InnoDB 쓰기 I/O 스레드 수를 64개로 설정합니다. 이는 동시 쓰기 작업을 더 잘 처리할 수 있도록 도와줍니다.

# 연결 설정
max_connections                 = 100   # MySQL 서버의 최대 동시 연결 수를 100으로 설정합니다. 이는 서버가 동시에 처리할 수 있는 최대 클라이언트 수를 정의합니다.
back_log                        = 512   # MySQL 서버가 대기할 수 있는 최대 연결 요청 수를 512로 설정합니다. 이 값이 너무 낮으면 서버가 새로운 연결 요청을 거부할 수 있습니다.
thread_cache_size               = 100   # 스레드 캐시 크기를 100으로 설정합니다. 캐시된 스레드를 재사용하여 새 스레드를 생성하는 비용을 줄일 수 있습니다.
thread_stack                    = 192K  # 각 스레드의 스택 크기를 192KB로 설정합니다. 이는 각 스레드가 사용할 메모리 양을 정의합니다.
interactive_timeout             = 180   # 대화형 세션의 타임아웃 시간을 180초로 설정합니다. 이 시간이 지나면 대기 상태의 대화형 세션이 자동으로 종료됩니다.
wait_timeout                    = 180   # 대기 중인 세션의 타임아웃 시간을 180초로 설정합니다. 이 시간이 지나면 대기 상태의 세션이 자동으로 종료됩니다.
max_heap_table_size             = 1G    # 메모리 내 테이블의 최대 크기를 1GB로 설정합니다. 이는 임시 테이블의 크기를 제한하여 메모리 사용을 제어합니다.
tmp_table_size                  = 1G    # 임시 테이블의 최대 크기를 1GB로 설정합니다. 이는 디스크 기반 임시 테이블이 사용되기 전에 메모리 내에서 사용할 수 있는 임시 테이블 크기를 제한합니다.

character-set-client-handshake  = FALSE # 클라이언트와 서버 간의 문자 집합 핸드셰이크를 비활성화하여 서버가 항상 설정된 문자 집합을 사용하도록 강제합니다.
character-set-server            = utf8mb4 # 서버의 기본 문자 집합을 utf8mb4로 설정합니다. 이는 이모지와 같은 4바이트 문자를 지원하여 다양한 언어와 기호를 처리할 수 있습니다.
collation-server                = utf8mb4_unicode_ci # 서버의 기본 콜레이션을 utf8mb4_unicode_ci로 설정합니다. 이는 유니코드 대소문자 구분 없는 비교를 지원합니다.
secure-file-priv                = "/var/lib/mysql-files" # 보안 파일 경로를 빈 문자열로 설정하여 외부 파일 작업에 대한 제한을 해제합니다.

[mysqldump]
quick                             # 덤프 중에 행을 빨리 가져오기 위해 각 테이블을 덤프할 때 row-by-row 방식을 사용합니다.
quote_names                       # 테이블과 열 이름에 따옴표를 사용하여 이름이 예약어일 때 문제를 방지합니다.
max_allowed_packet                = 1G # mysqldump가 허용하는 최대 패킷 크기를 설정합니다.
